APP_ENV=
APP_PORT=

DATABASE_PORT=
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_MAX_OPEN_CONNECTION=
DATABASE_MAX_IDLE_CONNECTION=

RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_VIRTUAL_HOST=

EMAIL_HOST=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_TLS=
EMAIL_FROM=