APP_ENV=
APP_PORT=
URL_FRONTEND=
SERVER_TIMEOUT=
PRODUCT_SERVICE_URL=
USER_SERVICE_URL=

AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=

DATABASE_PORT=
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_MAX_OPEN_CONNECTION=
DATABASE_MAX_IDLE_CONNECTION=

JWT_SECRET=

REDIS_HOST=
REDIS_PORT=

RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_VIRTUAL_HOST=

SUPABASE_STORAGE_URL=
SUPABASE_STORAGE_KEY=
SUPABASE_STORAGE_BUCKET=

ELASTICSEARCH_HOST=
