APP_ENV=
APP_PORT=
SERVER_TIMEOUT=

APIGATEWAY_SERVICE_URL=
PRODUCT_SERVICE_URL=
USER_SERVICE_URL=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
LATITUDE_REF=
LONGITUDE_REF=
MAX_DISTANCE=

USER_SERVICE_GRPC=
PRODUCT_SERVICE_GRPC=

DATABASE_PORT=
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_MAX_OPEN_CONNECTION=
DATABASE_MAX_IDLE_CONNECTION=

JWT_SECRET=

REDIS_HOST=
REDIS_PORT=

RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_VIRTUAL_HOST=

SUPABASE_STORAGE_URL=
SUPABASE_STORAGE_KEY=
SUPABASE_STORAGE_BUCKET=

ELASTICSEARCH_HOST=

PRODUCT_UPDATE_STOCK=
ORDER_PUBLISH_NAME=
EMAIL_UPDATE_STATUS=
PUBLISHER_DELETE_ORDER=
PUBLISHER_PAYMENT_SUCCESS=
PUBLISHER_UPDATE_STATUS=
PRODUCT_TO_ORDER=