APP_ENV=
APP_PORT=
SERVER_TIMEOUT=

API_GATEWAY_URL=
PRODUCT_SERVICE_URL=
USER_SERVICE_URL=
ORDER_SERVICE_URL=

AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
JWT_SECRET=

DATABASE_PORT=
DATABASE_HOST=
DATABASE_USER=p
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_MAX_OPEN_CONNECTION=
DATABASE_MAX_IDLE_CONNECTION=


REDIS_HOST=
REDIS_PORT=

RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_VIRTUAL_HOST=

MIDTRANS_SERVER_KEY=

PUBLISHER_PAYMENT_SUCCESS=